{% extends 'base.html' %}

{% block content %}
<section id="content">
    <div class="content-wrap" style="padding: 0px;">
        <div class="container center clearfix">
            <div class="mt-2" style="float: right;"></div>
            <div class="col-full"></div>
            <div class="col-full"></div>
            <div class="tabs tabs-alt tabs-justify tabs-tb clearfix" id="tab-8">
                <ul class="tab-nav clearfix">
                    <li><a class="load-api" href="#op1" data-id="op1">GENERAL</a></li>
                    <li><a class="load-api" href="#op2" data-id="op2">RESUMEN</a></li>
                </ul>
                <div class="tab-container">
                    <div class="tab-content clearfix" id="op1">
                        <div class="col-full">
                            <div class="container_loader_ppal" id="container_loader_chart1">
                                <div class="loader-ppal" id="loader-chart1" style="bottom: 180px;"></div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered nobottommargin"></table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content clearfix" id="op2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
